@import '../../styles/variables.scss';

.login {
  @include flexSet();
  width: 100vw;
  height: 100vh;

  .loginContainer {
    padding: 30px;
    border: 1px solid $grayMidium;
    text-align: center;

    .title {
      color: $blueGreen;
      font-size: 56px;
    }

    .subTitleBox {
      @include flexSet();

      .subTitle {
        margin: 10px;
        color: $grayMidium;
        cursor: pointer;
      }

      .selected {
        color: $blueGreen;
      }
    }

    .formWrapper {
      @include flexSet(center, column);
      width: 250px;

      .authInput {
        width: 100%;
        padding: 10px;
        margin: 0 0 20px;
        border: 1px solid $grayMidium;
      }

      .authButton {
        width: 100%;
        padding: 10px;
        margin: 0 0 10px;
        border: none;
        color: black;
        background-color: $blueGreen;
        font-size: 18px;
        opacity: 0.5;
      }

      .active {
        opacity: 1;
      }
    }
  }
}
