* {
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

input {
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}
