$blueSky: #8ecae6;
$blueGreen: #209ebb;
$blueNavy: #023047;
$orange: #ffb701;
$orangeDeep: #fc8500;
$grayLight: #e6e9ed;
$grayMidium: #9aa1ac;
$grayDeep: #656d78;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSet($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
